.footer-container{
    align-content: center;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
    background-color: rgb(133, 133, 133);
    object-fit: cover;
    padding-bottom:30px;
}
.footer-container h2, 
.footer-container h3, 
.footer-container h4, 
.footer-container h5, 
.footer-container h6, 
.footer-container p {
    color: white;
}
.footer-container .footer-1 h2, 
.footer-container .footer-1 p, 
.footer-container .footer-1 h5, 
.footer-container .footer-1 h6 {
    padding-left: 50px;
    padding-top: 20px;
}

.footer-container .footer-2{
    padding-top:70px;
}
.logo-footer{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color:#f84258; 
    font-size:27px;
}
.logo-footer a{
    color:#f84258; 
}